{# 
## Support search feature

Render the post content
# posts keyword argument
[
{
    'title': 'post 01',
    'content': 'this is content for post 01'
},
]

# pagination keyword argument
{
    'cur_num': 1
}
#}

{% extends "base.html" %}

{% block content %}

 <!-- The form -->
 <form class="example" action="/admin" style="margin:left;max-width:300px" method="GET">
    <input type="text" placeholder="Search.." name="search" />
    <input type="hidden" id="page" name="page" value="posts" />
    <input type="hidden" id="action" name="action" value="search" />
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<table>
<tr>
    <th> Title </th>
    <th> Description </th>
    <th> Created date </th>
    <th> Actions</th>
</tr>
{% for post in posts %}
<tr>
    <td> {{post['title']}} </td>
    <td> {{post['title_long']}} </td>
    <td> {{post['created_date']}}</td>
    <td> <a href="/admin?page=posts&&action=read_a_post&&id={{post['id']}}">[edit]</a> 
         <a href="/admin?page=posts&&action=delete&&id={{post['id']}}">[del]</a>  </td>
</tr>
{% endfor %}
</table>

<!-- Pagination -->
<div class="pagination">
    {% if pagination['cur_num'] >= 1 %}
    <a href="admin?page=posts&&pagination={{pagination['cur_num'] - 1}}">&laquo;</a>
    {% else %}
    <a >&laquo;</a>
    {% endif %}
    <a href="admin?page=posts&&pagination={{pagination['cur_num']}}">{{pagination['cur_num']}}</a>
    <a href="admin?page=posts&&pagination={{pagination['cur_num'] + 1}}">&raquo;</a>
</div>

{% endblock %}